@import "./btn.css";
@import "./popover.css";
@import "./input.css";

.col {
  @apply flex flex-col;
}

.box {
  @apply bg-elevated rounded-box light:(border-t border-[#00000006]) dark:(border-b border-[#ffffff07]) shadow-[--elevated-shadow];
}

.link {
  @apply underline-offset-2 transition-[color];
}

.link.primary {
  @apply text-primary media-mouse:hover:(text-primary-hover underline-2) media-touch:active:(text-primary-hover underline-2) focus-visible:(outline-color-secondary);
}

.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(currentColor 0 0);
  background: var(--c), var(--c), var(--c);
  animation:
    loader-1 1s infinite,
    loader-2 1s infinite;
}

@keyframes loader-1 {

  0%,
  100% {
    background-size: 20% 100%
  }

  33%,
  66% {
    background-size: 20% 40%
  }
}

@keyframes loader-2 {

  0%,
  33% {
    background-position: 0 0, 50% 100%, 100% 0
  }

  66%,
  100% {
    background-position: 0 100%, 50% 0, 100% 100%
  }
}