@import "./btn.css";
@import "./popover.css";

.col {
  @apply flex flex-col;
}

.box {
  @apply bg-elevated rounded-box light:(border-t border-[#00000006]) dark:(border-b border-[#ffffff07]) shadow-[--elevated-shadow];
}