/* base styles */
.menu-item {
  @apply py-1 px-4 outline-0 transition-[background-color] select-none last:rounded-b-box first:rounded-t-box;
}

/* states */
.menu-item {
  @apply media-mouse:(focus-visible:bg-highlight hover:bg-highlight) media-touch:active:bg-highlight data-[selected]:(bg-primary text-primary-text shadow-[--selected-item-shadow] font-600 media-mouse:(hover:bg-primary-hover focus-visible:bg-primary-hover focus-visible:not-hover:outline-(1 solid secondary)) media-touch:active:bg-primary-hover);
}

.menu-item svg {
  @apply h-4.5 w-4.5;
}

.menu-item-label {
  @apply flex items-center gap-x-2;
}

@keyframes content-show-vertical {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes content-show-horizontal {
  from {
    opacity: 0;
    transform: translateX(-8px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes content-hide-vertical {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}


@keyframes content-hide-horizontal {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-8px);
  }
}