@font-face {
  font-family: 'AR One Sans';
  src: url('/fonts/AR-One-Sans.woff2') format('woff2 supports variations'), url('/fonts/AR-One-Sans.woff2') format('woff2-variations'), url('/fonts/AR-One-Sans.ttf') format("truetype");
  font-weight: 100 1000;
  font-style: normal;
}

:root,
body {
  display: flex;
  flex-direction: column;
}

:root {
  min-height: 100%;
  min-width: 320px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "AR One Sans", sans-serif !important;

  --header-height: 50px;
}

body {
  flex-grow: 1;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

:root svg {
  display: inline-block;
  vertical-align: middle;
}

svg:not([fill=none]) {
  fill: currentColor;
}

svg[stroke-width]:not([stroke=none]),
path[stroke-width]:not([stroke=none]) {
  stroke: currentColor;
}

::selection {
  background-color: var(--primary);
  color: var(--primary-text);
}

.primary::selection,
.text-primary::selection,
.bg-primary::selection {
  background-color: var(--secondary);
  color: var(--secondary-text);
}

input {
  min-width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: currentColor;
}

.dialog-overlay {
  --ov-bg: #0003;
}

.dark .dialog-overlay {
  --ov-bg: #0008;
}